<div class="container">
  <form (ngSubmit)="submission$.next(form.value)" [formGroup]=form>
    <div>
      <mat-form-field class="address">
        <span matPrefix>0x&nbsp;</span>
        <input matInput formControlName="regAuthAddress" placeholder="Registration Authority Address">
      </mat-form-field>
      <button mat-button color="primary" type="button" id="fillRegAuthAddress"
              (click)="fillAddress(form.controls.regAuthAddress)">
        Use Active Account
      </button>
    </div>

    <div>
      <mat-form-field>
        <span matPrefix>0x&nbsp;</span>
        <input matInput placeholder="Modulus" formControlName="modulus">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <span matPrefix>0x&nbsp;</span>
        <input matInput placeholder="Private Exponent" formControlName="privateExponent">
      </mat-form-field>
    </div>
    <p *ngIf="(numCompletableRegistrations$ | async) === 1; else plural">There is 1 pending registration that can be
      completed with these details</p>
    <ng-template #plural>
      <p>There are {{numCompletableRegistrations$ | async}} pending registrations that can be completed with these
        details</p>
    </ng-template>
    <button type="submit" [disabled]="!(validForm$ | async)" mat-raised-button color="primary">COMPLETE NEXT REGISTRATION</button>
  </form>
  <mat-divider></mat-divider>
  <div class="info">
    <p>If you are the Registration Authority for a vote, you can use this form to complete voter registration.</p>
    <p>There should be no decisions - all pending registrations have already passed the registration criteria.</p>
    <p>For medium to large deployments, it is recommended that you run a service on your server
      to automatically complete registrations as they are initiated (instead of using this form).</p>
    <p>This would eliminate the need to export the RSA private key. It is also more convenient for you and the
      voters.</p>
  </div>
</div>
