
@import '../../app.component.scss';

.container {
  margin: 20px;
}

.info {
  margin-top: 20px;
}

mat-divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

.address {
  width: $ethereum-address-width;
}

