<form [formGroup]=launchVoteForm>
  <mat-form-field>
    <input matInput placeholder="Topic" formControlName="topic">
  </mat-form-field>

  <div formGroupName="timeframes">
    <mat-form-field>
      <input matInput matDatepicker placeholder="Registration Opens" formControlName="registrationOpens">
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="regClosesPicker"
             placeholder="Registration Closes" formControlName="registrationCloses"
             [min]="minRegistrationClosesDate">
      <mat-datepicker-toggle matSuffix [for]="regClosesPicker"></mat-datepicker-toggle>
      <mat-datepicker #regClosesPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="votingClosesPicker"
             placeholder="Voting Closes" formControlName="votingCloses"
             [min]="minVotingClosesDate$ | async">
      <mat-datepicker-toggle matSuffix [for]="votingClosesPicker"></mat-datepicker-toggle>
      <mat-datepicker #votingClosesPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input matInput placeholder="New Candidate" (keyup.enter)="addCandidate()" formControlName="newCandidate" >
  </mat-form-field>

  <div>
    <button type="submit"
            [disabled]="!launchVoteForm.valid"
            mat-raised-button
            color="primary">
      Launch
    </button>
  </div>
</form>
