@import '../../../app.component.scss';

mat-divider {
  margin-top: 20px;
  margin-bottom: 10px;
}

mat-checkbox {
  margin-right: 10px;
}

.spacer {
  margin-top: 20px;
}

.address {
  width: $ethereum-address-width;
}

.blindingFactor {
  width: $ethereum-address-width; // for visual consistency
}
